<% layout('layouts/boilerplate')%>

<div class="container">
    <h1>ChatBot</h1>
    <br>
    <p>ChatBot, your own friendly personal therapist </p>
    <br>
</div>
>>>>>>> 42010cc8a42790e1fa522c00c237a000440b5758
