<% layout('layouts/boilerplate')%>

<<<<<<< HEAD
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
</head>
<body>
    <div class="container1" id="container1">
        <h1>ChatBot</h1>
        <br>
        <p>ChatBot, your own friendly personal therapist </p>
        <br>
      </div>
</body>
</html>
=======

<div class="container">
    <h1>ChatBot</h1>
    <br>
    <p>ChatBot, your own friendly personal therapist </p>
    <br>
</div>
>>>>>>> 42010cc8a42790e1fa522c00c237a000440b5758
