<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>403 Forbidden</title>
</head>
<nav class="navbar" id="navbar">
    <div class="container1">
        <a class="navbar-home" id="home" href="index.html">
            <button class="homebtn" id="homebtn">
                Home
            </button>
        </a>
        <a class="navbar-chatbot" id="chatbot" href="chatbot.html">
            <button class="chatbotbtn" id="chatbotbtn">
                ChatBot
            </button>
        </a>
        <a class="navbar-signinup" id="signinup" href="signinup.html">
            <button class="signinupbtn" id="signinupbtn">
                Sign In / Sign Up
            </button>
        </a>
    </div>
</nav>
<body>
    <div 
</body>
</html>