html {
    scroll-behavior: smooth;
    background-color: #fffcf3;
    z-index: 4;
    height: auto;
    
}
body {
    background-color: #fffcf3;
    z-index: 0;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR CODES*/
#logo {
    width: 60px;
    height: 60px;
    background-color: #83b786;
    margin-bottom: 8px;
    border-radius: 30px;
    margin-right: 15px;
}
#navbar {
    background-color: #c3e4ac;
    height: 80px;
    position: fixed;
}
#container1 {
    background-color: #c3e4ac;
    height: 80px;
    position: fixed;
}
#container2 {
    background-color: #c3e4ac;
}
#homebtn {
    margin-left: 10px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: bold;
    color: black;
}
.navbar-chatbot {
    font-size: 0px;
}
#chatbotbtn {
    margin-top: 5px;
    margin-left: 640px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
}
.navbar-signinup {
    font-size: 0px;
}
#expertsbtn {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
    padding-left: 20px;
    margin-top: 5px;
}
#subscriptionbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
}
#signinbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #ff73d9;
}
#signupbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #ff73d9;
}
#chatbottxt {
    padding-top: 80px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Playfair Display', serif ;
    font-size: 50px;
    z-index: 2;
}
#chatbotdesc {
    padding-left: 10px;
    font-family:'Playfair Display', serif  ;
    font-size: 30px; 
}
#div1 {
    color: black;
    background-color:transparent;
    z-index: 3;
    position:relative;
    margin-top: 9%;
    margin-left: 40%;
    font-family: 'Playfair Display', serif ;
}
#container3 {
    z-index: 1;
    position: relative;
}
#sccontainer {
    position: relative;
    z-index: -1;
}
#sc1 {
    width: 500px; /* Width of the semicircle */
    height: 300px; /* Height of the semicircle (half of width) */
    background-color: #c7cef3; /* Color of the semicircle */
    border-top-left-radius: 300px; /* Round the top left corner */
    border-top-right-radius: 300px; /* Round the top right corner */
    transform: rotate(-90deg); /* Rotate the semicircle 90 degrees clockwise */
    transform-origin: center; /* Keep the center of rotation */
    position: fixed; /* Position it relative to the page */
    margin-top: 70px;
    margin-left: 70%;
    visibility: visible;
    top: 100px; /* Adjust the top position */
    left: 50px; /* Adjust the left position */
    z-index: -3;
}
#sc2 {
    background-color: #d35da8;
    width: 300px; /* Width of the semicircle */
    height: 150px; /* Height of the semicircle (half of width) */
    border-top-left-radius: 300px; /* Round the top left corner */
    border-top-right-radius: 300px; /* Round the top right corner */
    transform: rotate(90deg); /* Rotate the semicircle 90 degrees clockwise */
    transform-origin: center; /* Keep the center of rotation */
    position: fixed; /* Position it relative to the page */
    margin-top: 30% ;
    top: 100px; /* Adjust the top position */
    left: -80px; /* Adjust the left position */
    z-index: -3;
}
#div2 {
    background-color: #83b786;
    z-index: 3;
    width: 1300px;
    height: 2800px;
    margin-top: 4%;
    margin-left: 5%;
    border-radius: 25px;
    z-index: 3;
    margin-bottom: 5%;
}
#mt {
    width: 400px;
    height: 345px;
    margin-top: 3%;
    margin-left: 3%;
}
#mttxt {
    font-family: 'Playfair Display', serif ;
    margin-left: 30%;
    margin-top: -25%;
    font-size: 40px;
    color: black;
}
#mttxt2{
    font-family: 'Playfair Display', serif ;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 2%;
    color: black;
}
#mttxt3 {
    font-family: 'Playfair Display', serif ;
    font-size: 15px;
    color: black;
    margin-left: 30%;
    margin-top: 2%;
}
#appointmentbtn {
    background-color: #ff73d9;
    width: 170px;
    height: 70px;
    border: #fffcf3;
    border-width: 5px;
    border-radius: 20px;
    color: black;
    margin-left: 40%;
    font-family: 'Playfair Display', serif ;
    font-size: 15px;
}
#rc {
    width: 315px;
    height: 280px;
    margin-top: 5%;
    margin-left: 3%;
    background-color: transparent;
    border-radius: 100%;
}
#rctxt {
    font-family: 'Playfair Display', serif ;
    margin-left: 30%;
    margin-top: -22%;
    font-size: 40px;
    color: black;
}
#rctxt2 {
    font-family: 'Playfair Display', serif ;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
#rctxt3 {
    font-family: 'Playfair Display', serif ;
    font-size: 15px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
#am {
    width: 260px;
    height: 280px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: transparent;
    border-radius: 100%;
}
#amtxt {
    font-family: 'Playfair Display', serif ;
    margin-left: 30%;
    margin-top: -22%;
    font-size: 40px;
    color: black;
}
#amtxt2 {
    font-family: 'Playfair Display', serif ;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
#amtxt3 {
    font-family: 'Playfair Display', serif ;
    font-size: 15px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
#en {
    width: 300px;
    height: 320px;
    margin-top: 5%;
    margin-left: 5%;
    background-color: transparent;
    border-radius: 100%;
}
#entxt {
    font-family: 'Playfair Display', serif ;
    margin-left: 30%;
    margin-top: -22%;
    font-size: 40px;
    color: black;
}
#entxt2 {
    font-family: 'Playfair Display', serif ;
    font-size: 30px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
#entxt3 {
    font-family: 'Playfair Display', serif ;
    font-size: 15px;
    margin-left: 30%;
    margin-top: 3%;
    color: black;
}
