html {
    scroll-behavior: smooth;
    background-color: #fffcf3;
    z-index: 0;
    height: auto;
}
body {
    background-color: #fffcf3;
    z-index: 0;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAVBAR CODES*/
#logo {
    width: 60px;
    height: 60px;
    background-color: #83b786;
    margin-bottom: 8px;
    border-radius: 30px;
    margin-right: 15px;
}
#navbar {
    background-color: #c3e4ac;
    height: 80px;
    position: fixed;
}
#container1 {
    background-color: #c3e4ac;
    height: 80px;
    position: fixed;
}
#container2 {
    background-color: #c3e4ac;
}
#homebtn {
    margin-left: 10px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-style: bold;
    color: black;
}
.navbar-chatbot {
    font-size: 0px;
}
#chatbotbtn {
    margin-top: 5px;
    margin-left: 640px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
}
.navbar-signinup {
    font-size: 0px;
}
#expertsbtn {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
    padding-left: 20px;
    margin-top: 5px;
}
#subscriptionbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #0c0b48;
}
#signinbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #ff73d9;
}
#signupbtn {
    margin-top: 5px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-style: bold;
    color: #ff73d9;
}
#chatbottxt {
    padding-top: 80px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Playfair Display', serif ;
    font-size: 50px;
    z-index: 2;
}
#chatbotdesc {
    padding-left: 10px;
    font-family:'Playfair Display', serif  ;
    font-size: 30px; 
}
#div0 {
    width: 500px;
    height: 600px;
    margin-top: 10%;
    margin-left: 25%;
}
#form1 {
    margin-top: 5%;
    width: 400px;
    margin-left: 35%;
    font-family:'Playfair Display', serif ;
    background-color:#f1c3b8 ;
    border-radius: 15px;
    box-shadow: 10px 12px #f4e1c1;
    margin-bottom: 100px;
}
#inputemail {
    background-color: #c3e4ac;
    width: 10%;
}
#inputpassword {
    background-color: #c3e4ac;
}
#div1 {
    font-style: bold;
    padding-bottom: 20px;
}
#submitbtn {
    background-color: #eccde3;
    border-color: #ff94de;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: inset 0 0 0 #ff94de ;
    transition: ease-out 0.2s;
    outline: none;
}
#submitbtn:hover {
    box-shadow: inset 300px 0 0 0 #c3e4ac;
    cursor: pointer;
    color: black;
}
#submithref {
    color: black;
    background-color: transparent;
}